:root {
  --accent-color: #FF665E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-width: 480px;
  height: 100vh;
  font-family: "Poppins", "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  z-index: 2;
  background-color: #24242480;
  padding: 20px;
  border-radius: 5px;
  user-select: none;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 28px;
}

.timeline {
  width: 100%;
  height: 10px;
  background-color: white;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
}

input[type='text'],
textarea {
  overflow-x: scroll;
}

button,
input, 
select {
  background-color: transparent;
  font-family: "Poppins", "Montserrat", sans-serif;
}

.wifi-off-icon {
  border: none;
  width: 20px;
  aspect-ratio: 1;
  background-color: white;
  mask-size: contain;
  mask-image: url("../assets/svg/wifi-off.svg");
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
}

.audio-duration {
  width: 100%;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
}

.play-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  transition: .3s;
  display: flex;
  align-items: center;
}

.item-active {
  color: var(--accent-color);
}

.item-active button {
  background-color: var(--accent-color);
}

.player-icon,
.slider-icon,
.change-quote,
.volume-icon,
.li-button,
.settings-button,
.todo-list-open-button {
  width: 32px;
  aspect-ratio: 1;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.volume-icon:hover,
.li-button:hover,
.settings-button:hover,
.todo-list-open-button:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.volume-icon:active,
.li-button:active,
.settings-button:active,
.todo-list-open-button:active,
.todo-list__delete-button:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.change-quote {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.change-quote.active {
  animation: 0.3s spin linear 1;
}

.settings-button.active {
  transition: 0.5s transform;
  transform: rotate(45deg) scale(1.1);
  opacity: 1;
}

.li-button {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.li-play {
  background-color: white;
  mask-size: 50px;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-image: url("../assets/svg/play.svg");
  -webkit-mask-image: url("../assets/svg/play.svg");
}

.play {
  width: 54px;
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: white;
  mask-size: 70px;
  mask-image: url("../assets/svg/play.svg");
  -webkit-mask-image: url("../assets/svg/play.svg");
}

.pause {
  mask-image: url("../assets/svg/pause.svg");
  -webkit-mask-image: url("../assets/svg/pause.svg");
}

.play-prev {
  width: 44px;
  background-size: 44px 44px;
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  width: 44px;
  background-size: 44px 44px;
  background-image: url("../assets/svg/play-next.svg");
}

.volume-container {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
}

.volume-up {
  background-image: url("../assets/svg/volume-up.svg");
}

.volume-mute {
  background-image: url("../assets/svg/volume-mute.svg");
}

.volume-slider {
  width: 55%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}

.volume-slider::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
}

.volume-slider::-webkit-slider-thumb {
  margin-top: -8px;
  width: 20px;
  aspect-ratio: 1;
  background: var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.volume-slider::-moz-range-track {
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
}

.volume-container::-moz-range-thumb {
  margin-top: -8px;
  width: 20px;
  aspect-ratio: 1;
  background: var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -moz-appearance: none;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  cursor: default;
  user-select: none;
}

.weather-error {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  font-size: 190px;
  min-height: 170px;
  max-height: 180px;
  line-height: 90%;
  margin-bottom: 20px;
  letter-spacing: -4px;
  cursor: default;
  user-select: none;
}

.date {
  min-height: 28px;
  max-height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  cursor: default;
  user-select: none;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  max-height: 100px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  padding: 10px;
  text-align: right;
  cursor: default;
  user-select: none;
}

.name {
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: default;
}

.name:focus {
  text-decoration: 2px underline solid white;
  text-underline-offset: 7px;
  cursor: text;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.background-error {
  display: flex;
  align-items: center;
  gap: 5px;
}

.todo-list-open-button {
  font-size: 16px;
  margin-left: auto;
  margin-right: 15px;
  color: #fff;
  width: 40px;
}

.todo-list-open-button.active {
  transform: scale(1.1);
  opacity: 1;
}

.todo-list__container {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 10px 15px;
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  left: 99vw;
  transform: translateX(-100%);
  bottom: 50px;
  transition: 0.4s all;
}

.todo-list__header {
  font-weight: 600;
  text-align: left;
  display: flex;
  gap: 10px;
}

.todo-list__header select {
  color: black;
}

.todo-list__wrapper {
  position: relative;
  width: 100%;
  overflow-y: auto;
  padding: 0 5px;
}

.todo-list {
  height: 100%;
}

.todo-list {
  --content-text: "";
}

.todo-list.empty::after {
  content: var(--content-text);
}



.todo-list__todo {
  display: flex;
  justify-content: start;
  align-items: baseline;
  width: 100%;
  height: fit-content;
  gap: 5px;
  user-select: none;
  cursor: default;
}

.todo-list__text {
  text-align: left;
}

.todo-list__checkbox:checked + .todo-list__text {
  text-decoration: line-through;
  color: #727272;
}

.todo-list__text:focus {
  outline: 0;
  user-select: text;
  cursor: text;
}

.todo-list__text:focus:hover {
  cursor: text;
}

.todo-list__add-button {
  width: 100%;
  text-align: start;
  height: 30px;
}
 
.todo-list__delete-button {
  opacity: 0.3;
  visibility: hidden;
  min-width: 15px;
  aspect-ratio: 1;
  mask-image: url("../assets/svg/close.svg");
  background-color: black;
  mask-size: 10px;
  border-radius: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  margin-left: auto;
}

.todo-list__todo:hover .todo-list__delete-button {
  visibility: visible;
}

.todo-list__delete-button:hover {
  opacity: 1;
}

.todo-list__add-button:focus {
  outline: 0;
}

.todo-list__container.open {
  visibility: visible;
  opacity: 1;
  max-height: 80dvh;
  bottom: 70px;
}

.todo-list__footer {
  display: flex;
}

.settings-button {
  background-image: url("../assets/svg/settings.svg");
  background-size: 32px;
  width: 32px;
  aspect-ratio: 1;
  margin-right: 20px;
  z-index: 1000;
}

.settings-container {
  display: flex;
  justify-content: end;
  align-items: end;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, .3);
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}

.settings {
  position: relative;
  width: 450px;
  padding: 45px;
  z-index: 1;
  margin: 0 30px;
  background-color: #02020260;
  backdrop-filter: blur(2px) opacity(0);
  border-radius: 10px;
  box-shadow: 0px 0px 17px -7px #24242480;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: black;
  transition: .3s all linear;
  text-align: start;
}

.settings-container.open {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(2px) opacity(1);
}

.settings-container.open .settings {
  transform: translateY(-70px);
}

.settings-language,
.settings-photo,
.settings-time tbody,
.settings-hide tbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #0000005e;
  color: white;
  border-radius: 10px;
  min-height: 50px;
}

select {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  outline: 0;
}

.settings-hide tbody,
.settings-time tbody {
  padding: 0 15px;
  flex-direction: column;
  height: unset;
  justify-content: unset;
}

.settings-hide tbody tr,
.settings-time tbody tr {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #B9B9BB;
}

.settings-hide tbody tr:last-child,
.settings-time tbody tr:last-child {
  border: none;
}

.settings-hide caption,
.settings-time caption {
  color: #ffffff;
  margin-bottom: 5px;
  padding-left: 10px;
  text-align: left;
}

.time,
.date,
.greeting-container,
.quote-container,
.weather,
.player,
.todo-list-open-button {
  transition: .6s all ease-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.time.hidden,
.date.hidden,
.greeting-container.hidden {
  max-height: 0;
  min-height: 0;
  height: 0;
  margin: 0;
}


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E9E9EA;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--accent-color)
}

input:focus+.slider {
  box-shadow: 0 0 1px #34C759;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #ffffff;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: var(--accent-color);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

