@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

:root {
  --accent-color: #FF665E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  z-index: 2;
  background-color: rgba(36, 36, 36, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 28px;
}

.timeline {
  width: 100%;
  height: 10px;
  background-color: white;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
}

.audio-duration {
  width: 100%;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
}

.play-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  transition: .3s;
  display: flex;
  align-items: center;
}

.item-active {
  color: var(--accent-color);
}

.item-active button {
  background-color: var(--accent-color);
}

.player-icon,
.slider-icon,
.change-quote,
.volume-icon,
.li-button,
.settings-button,
.settings-close {
  width: 32px;
  aspect-ratio: 1;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.volume-icon:hover,
.li-button:hover,
.settings-button:hover,
.settings-close:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.volume-icon:active,
.li-button:active,
.settings-button:active,
.settings-close:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.settings-button.active {
  transition: 0.5s transform;
  transform: rotate(45deg) scale(1.1);
  opacity: 1;
}

.li-button {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.li-play {
  background-color: white;
  mask-size: 50px;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-image: url("../assets/svg/play.svg");
  -webkit-mask-image: url("../assets/svg/play.svg");
}

.play {
  width: 54px;
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: white;
  mask-size: 70px;
  mask-image: url("../assets/svg/play.svg");
  -webkit-mask-image: url("../assets/svg/play.svg");
}

.pause {
  mask-image: url("../assets/svg/pause.svg");
  -webkit-mask-image: url("../assets/svg/pause.svg");
}

.play-prev {
  width: 44px;
  background-size: 44px 44px;
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  width: 44px;
  background-size: 44px 44px;
  background-image: url("../assets/svg/play-next.svg");
}

.volume-container {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
}

.volume-up {
  background-image: url("../assets/svg/volume-up.svg");
}

.volume-mute {
  background-image: url("../assets/svg/volume-mute.svg");
}

.volume-slider {
  width: 55%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}

.volume-slider::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
}

.volume-slider::-webkit-slider-thumb {
  margin-top: -8px;
  width: 20px;
  aspect-ratio: 1;
  background: var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.volume-slider::-moz-range-track {
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
}

.volume-container::-moz-range-thumb {
  margin-top: -8px;
  width: 20px;
  aspect-ratio: 1;
  background: var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -moz-appearance: none;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings-button {
  background-image: url("../assets/svg/settings.svg");
  background-size: 32px;
  width: 32px;
  aspect-ratio: 1;
  margin-right: 20px;
  margin-left: auto;
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999998;
  background-color: rgba(0, 0, 0, .3);
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .6s, visibility .6s;
}

.settings {
  position: relative;
  /* popup size */
  width: 500px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: #f2f2f2;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: black;
}

.settings-close {
  position: absolute;
  /* button position */
  top: 10px;
  right: 10px;
  background-size: 25px;
  background-image: url("../assets/svg/close.svg");
}

.settings-container.open {
  visibility: visible;
  opacity: 1;
}

.settings-language,
.settings-photo,
.settings-hide tbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

select {
  font-size: 16px;
  color: #8A8A8E;
}

.settings-hide tbody {
  flex-direction: column;
  height: unset;
  justify-content: unset;
}

.settings-hide tbody tr {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #B9B9BB;
}

.settings-hide tbody tr:last-child {
  border: none;
}

.settings-hide caption {
  color: #8A8A8E;
  margin-bottom: 5px;
  padding-left: 10px;
  text-align: left;
}

.time,
.date,
.greeting-container,
.quote-container,
.weather,
.player,
.todo-list {
  transition: 0.3s all ease-out;
}

.hidden {
  opacity: 0;
  position: absolute;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E9E9EA;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--accent-color)
}

input:focus+.slider {
  box-shadow: 0 0 1px #34C759;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}